import('methods')
import('PortfolioEffectHFT')
import('rJava')

export(variance_rvRolling)
export(variance_tsrvRolling)
export(variance_jrmrvRolling)
export(variance_mrvRolling)
export(variance_msrvRolling)
export(variance_krvRolling)
export(noise_urnv)
export(noise_acnv)
export(noise_rnv)
export(noise_uznv)
export(variance_rv)
export(variance_tsrv)
export(variance_mrv)
export(variance_msrv)
export(variance_jrmrv)
export(variance_krv)
export(variance_uzrv)
export(quarticity_rq)
export(quarticity_rqq)
export(quarticity_mrq)
export(quarticity_rtq)
export(quarticity_mtq)
export(noise_nts)
export(price)

export(estimator_availableSymbols)
export(estimator_settings)
export(estimator_getSettings)
export(estimator_create)
exportClass(estimator)